<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnVCPXkEgvUXuQBMF51l1yjgNEjajDp8s</string>
	<key>GCM_SENDER_ID</key>
	<string>747329651886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarbelanja</string>
	<key>PROJECT_ID</key>
	<string>first-app-54b01</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-54b01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747329651886:ios:a3a61288888059be51d93f</string>
	<key>DATABASE_URL</key>
	<string>https://first-app-54b01-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>